.container{
   margin-top: 10%;
  position: absolute;
  z-index: 1;
 
  margin-left: 40%;
  height: 327px;
  width: 200px;
  text-align: center;
  
  
  background-color: rgb(231, 235, 236);
  border: 2px solid rgb(45, 196, 246);
  border-radius: 10px;
  box-shadow: 50px;
}
.superContainer{
  
  height: 200vh;
  width: 100vw;
}

.header img{
  
  z-index:2;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 2px solid rgb(45, 196, 246);
  
}
.body h2{
  color:black;
}



a{
  text-decoration: none;
  color: black;
}
.link a{
  color:rgb(45, 196, 246);
 
  
}

.footer{
 
  margin-top: 15px;
  align-content: center;
  background-color: rgb(59, 202, 250);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
 
box-shadow: 5px 5px 10px  rgb(83, 85, 85);
    
}